body {
  background-color: #000;
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, nav, ul, li, a {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #FFF;
}

button {
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

input {
  border: none;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}

/*===============GENERAL STYLES===============*/

.container {
  width: 1180px;
  margin: 0 auto;
}

.button {
  display: block;
  width: fit-content;
  border: 1px solid yellow;
  font-weight: 700;
  box-sizing: border-box;
  padding: 20px 60px;
  margin: 50px 0 0;
  transition: transform 400ms, background-color 400ms, color 400ms;
}

.button:hover {
  background-color: yellow;
  color: #000;
  transform: scale(1.05);
}

.section-title {
  width: fit-content;
  font-size: 32px;
  font-weight: 700;
}

.section-subtitle {
  font-size: 20px;
  font-weight: 300;
  margin: 20px 0 0;
}

.section-title::after {
  content: '';
  display: block;
  width: 70%;
  height: 2px;
  background-color: yellow;
  margin: 10px 0 0;
}

.content-box {
  border: 2px solid #fff;
  box-sizing: border-box;
  padding: 20px;
  margin: 50px 0 0;
}

.content-box-inner {
  background-color: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  padding: 50px;
}

.content-box-text {
  font-size: 24px;
  line-height: 36px;
}

.buttons-container {
  display: flex;
}

.buttons-container .button {
  margin: 0 30px 0 0;
}

.buttons-container .button:last-child {
  margin: 0;
}

/*===============/GENERAL STYLES/===============*/
/*===============HEADER===============*/

.header {
  background-color: #333;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.header-nav-ul {
  display: flex;
  list-style-type: none;
}

.header-nav-item {
  margin: 0 30px 0 0;
}

.header-nav-item:last-child {
  margin: 0;
}

.header-nav-link:hover {
  color: yellow;
}

/*===============/HEADER/===============*/
/*===============BANNER===============*/

.banner {
  background:
    radial-gradient(1100px 1000px at 30% 200px, transparent 10%, #000 55%),
    url('../img/backgrounds/banner-background.jpg') no-repeat top left / auto 90%;
  box-sizing: border-box;
  padding: 100px 0;
}

.banner .container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.counter-terrorist-logo {
  display: block;
  width: 15vw;
  height: auto;
}

.banner .section-title {
  font-size: 48px;
  font-weight: 700;
  margin: 50px 0 0;
}

.banner .section-title:after {
  margin: 10px 0 0 auto;
}

.banner-subtitle {
  font-size: 28px;
  margin: 20px 0 0;
}

.banner-text {
  max-width: 500px;
  margin: 20px 0 0;
}

/*===============/BANNER/===============*/
/*===============ABOUT US===============*/

.about-us {
  background:
    linear-gradient(#000, transparent 55%),
    linear-gradient(transparent 80%, #000),
    url('../img/backgrounds/about-us-background.jpg') no-repeat;
  box-sizing: border-box;
  padding: 150px 0 200px;
}

.about-us .content-box .buttons-container {
  margin: 50px 0 0;
}

/*===============/ABOUT US/===============*/

.prices {
  box-sizing: border-box;
  padding: 100px;
}

.prices .section-title {
  margin: 0 0 0 auto;
}

.prices .section-subtitle {
  text-align: right;
}

.prices .section-title:after {
  margin: 10px 0 0 auto;
}

.prices-table {
  display: grid;
  grid-template-columns: 25% auto;
  grid-gap: 50px;
  box-sizing: border-box;
  margin: 50px 0 0;
}

.prices-table-column-title {
  font-size: 28px;
}

.table-column-content {
  border: 1px solid yellow;
  list-style-type: none;
  box-sizing: border-box;
  padding: 20px;
  margin: 20px 0 0;
}

.table-column-content-item {
  font-size: 24px;
  margin: 20px 0 0;
}

/*===============FAQ===============*/

.faq {
  box-sizing: border-box;
  padding: 100px 0;
}

.question-block {
  box-sizing: border-box;
  padding: 20px 10px;
  border: 2px solid #333;
  margin: 0 0 20px;
}

.question-block:last-child {
  margin: 0;
}

.question {
  display: flex;
  align-items: center;
}

.question-button {
  font-size: 40px;
  font-weight: 700;
  margin: 0 20px 0 0;
  cursor: pointer;
}

.question p {
  font-size: 20px;
  font-weight: 700;
}

.answer {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  line-height: 24px;
  margin: 0 0 0 30px;
  transition: opacity 600ms, max-height 800ms;
}

.answer::before {
  content: '';
  display: block;
  margin: 0 0 20px;
}

.active-answer {
  max-height: 1000px;
  opacity: 1;
}

/*===============/FAQ/===============*/
/*===============CONTACT===============*/

.contact {
  background:
    linear-gradient(black, transparent),
    linear-gradient(0deg, black, transparent),
    url('../img/backgrounds/background.jpg') no-repeat 0 / cover ;
  box-sizing: border-box;
  padding: 100px 0;
}

.contact-form {
  margin: 50px 0 0;
}

.contact-form-section {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px;
}

.contact-form-section:last-child {
  margin: 0;
}

.contact-form-parameter {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.contact-form-parameter label {
  font-weight: 700;
  margin: 20px 0;
}

.contact-form-parameter input {
  height: 50px;
  border: 2px solid #333;
  background-color: transparent;
  font-size: 20px;
  color: #FFF;
  box-sizing: border-box;
  padding: 0 0 0 10px;
  outline: none;
}

.contact-form-submit-button {
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  box-sizing: border-box;
  padding: 0 60px;
  margin: 20px 0 0;
  transition: transform 400ms;
}

.contact-form-submit-button:hover {
  transform: scale(1.05);
}

/*===============/CONTACT/===============*/
/*===============FOOTER===============*/

.footer {
  background-color: #333;
  box-sizing: border-box;
  padding: 50px 0;
}

/*===============/FOOTER/===============*/
