body {
  background-color: #000;
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, nav, ul, li, a {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #FFF;
}

button {
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

input {
  border: none;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}

/*===============GENERAL STYLES===============*/

.container {
  width: 1180px;
  margin: 0 auto;
}

.button {
  display: block;
  width: fit-content;
  border: 1px solid yellow;
  font-weight: 700;
  box-sizing: border-box;
  padding: 20px 60px;
  margin: 50px 0 0;
  transition: transform 400ms, background-color 400ms, color 400ms;
}

.button:hover {
  background-color: yellow;
  color: #000;
  transform: scale(1.05);
}

.section-title {
  width: fit-content;
  font-size: 32px;
  font-weight: 700;
}

.section-subtitle {
  font-size: 20px;
  font-weight: 300;
  margin: 20px 0 0;
}

.section-title::after {
  content: '';
  display: block;
  width: 70%;
  height: 2px;
  background-color: yellow;
  margin: 10px 0 0;
}

.content-box {
  border: 2px solid #fff;
  box-sizing: border-box;
  padding: 20px;
  margin: 50px 0 0;
}

.content-box-inner {
  background-color: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  padding: 50px;
}

.content-box-text {
  font-size: 24px;
  line-height: 36px;
}

.buttons-container {
  display: flex;
}

.buttons-container .button {
  margin: 0 30px 0 0;
}

.buttons-container .button:last-child {
  margin: 0;
}

/*===============/GENERAL STYLES/===============*/
/*===============HEADER===============*/

.header {
  position: fixed;
  background-color: #333;
  right: 0;
  left: 0;
  z-index: 99;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.header-nav-ul {
  display: flex;
  list-style-type: none;
}

.header-nav-item {
  margin: 0 30px 0 0;
}

.header-nav-item:last-child {
  margin: 0;
}

.header-nav-link:hover {
  color: yellow;
}

/*===============/HEADER/===============*/
/*===============BANNER===============*/

.banner {
  background:
    radial-gradient(1100px 700px at 30% 400px, transparent 10%, #000 55%),
    url('../img/backgrounds/banner-background.jpg') no-repeat center left / auto 90%;
  box-sizing: border-box;
  padding: 150px 0;
}

.banner .container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.counter-terrorist-logo {
  display: block;
  width: 15vw;
  height: auto;
}

.banner .section-title {
  font-size: 48px;
  font-weight: 700;
  margin: 50px 0 0;
}

.banner .section-title:after {
  margin: 10px 0 0 auto;
}

.banner-subtitle {
  font-size: 28px;
  margin: 20px 0 0;
}

.banner-text {
  max-width: 500px;
  margin: 20px 0 0;
}

/*===============/BANNER/===============*/
/*===============ABOUT US===============*/

.about-us {
  background:
    linear-gradient(black 5%, transparent 20%),
    linear-gradient(0deg, black 5%, transparent 20%),
    url('../img/backgrounds/about-us-background.jpg') no-repeat center;
  box-sizing: border-box;
  padding: 150px 0 200px;
}

.about-us .content-box .buttons-container {
  margin: 50px 0 0;
}

.about-us .content-box .content-box-text {
  white-space: pre-line;
}

/*===============/ABOUT US/===============*/
/*===============OUR ADVANTAGES===============*/

.our-advantages {
  background:
    linear-gradient(#000 5%, transparent 60%),
    linear-gradient(0deg, #000 5%, transparent 60%),
    url('../img/backgrounds/our-advantages-background.jpg') no-repeat center / cover;
  box-sizing: border-box;
  padding: 100px 0;
}

.our-advantages .content-box {
  margin: 50px 0 0;
}

.advantage {
  display: flex;
  margin: 0 0 20px;
}

.advantage:last-child {
  margin: 0;
}

.advantage-image {
  display: flex;
  min-width: 250px;
  height: 250px;
  border: 2px solid #FFF;
  border-radius: 50%;
}

.advantage-image-inner {
  display: flex;
  width: 80%;
  height: 80%;
  background-color: #333;
  border-radius: 50%;
  margin: auto;
}

.advantage-image img  {
  width: auto;
  height: 60%;
  margin: auto;
}

.advantage:nth-child(2n) {
  flex-direction: row-reverse;
}

.advantage:nth-child(2n) .advantage-text {
  text-align: right;
}

.advantage:nth-child(2n) .advantage-text p::after {
  margin: 20px 0 0 auto;
}

.advantage-text {
  box-sizing: border-box;
  padding: 50px;
}

.advantage-text h6 {
  font-size: 32px;
}

.advantage-text p {
  font-size: 20px;
  margin: 20px 0 0;
}

.advantage-text p::after {
  content: '';
  display: block;
  width: 20%;
  height: 2px;
  background-color: yellow;
  margin: 20px 0 0;
}

/*===============/OUR ADVANTAGES/===============*/
/*===============PRICES===============*/

.prices {
  background:
    radial-gradient(60% 70% at 30% 50%, transparent 10%, black 70%),
    url('../img/backgrounds/prices-background-3.jpg') no-repeat center left / auto 100%;
  box-sizing: border-box;
  padding: 100px 0;
}

.prices .content-box-inner {
  padding: 20px;
}

.prices .section-title {
  margin: 0 0 0 auto;
}

.prices .section-subtitle {
  text-align: right;
}

.prices .section-title:after {
  margin: 10px 0 0 auto;
}

.prices-slider {
  margin: 30px 0;
}

.slick-slide {
  outline: none;
}

.prices-slider .slick-track {
  padding: 12px 0;
}

.slick-prev, .slick-next {
  display: flex;
  width: 70px;
  height: 70px;
  background-color: #000;
  border-radius: 50%;
  border: 2px solid #FFF;
  z-index: 1;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover, .slick-next:focus {
  background-color: #000;
}

.slick-prev {
  left: -76.5px;
}

.slick-next {
  right: -76.5px;
}

.slick-prev:before, .slick-next:before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  background-color: yellow;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60% auto;
  border-radius: inherit;
  opacity: 1;
  margin: auto;
}

.slick-prev:before {
  background-image: url('../img/controls/prev-arrow.svg');
}

.slick-next:before {
  background-image: url('../img/controls/next-arrow.svg');
}

.prices-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  border: 2px solid #333;
  box-sizing: border-box;
  padding: 20px;
  margin: 0 auto;
  transition: transform 400ms;
}

.slick-current .prices-slide {
  transform: scale(1.05);
}

.prices-slide-img {
  display: flex;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 1px solid #FFF;
  margin: 0 0 20px;
}

.prices-slide-img-inner {
  display: flex;
  width: 85%;
  height: 85%;
  border-radius: 50%;
  background-color: #FFF;
  margin: auto;
}

.prices-slide-img img {
  width: auto;
  height: 140px;
  margin: auto;
}

.prices-slide-title {
  font-size: 20px;
}

.price {
  font-size: 24px;
  font-weight: 700;
  margin: 10px 0 0;
}

.big-text {
  font-size: 40px;
}

.prices-slide-subtitle {
  font-size: 16px;
  font-weight: 300;
  margin: 10px;
}

.prices-slide .button {
  margin: 30px 0 0;
}

.prices .content-box {
  position: relative;
}

.slider-counter {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #000;
  border: 2px solid #FFF;
  left: 0;
  right: 0;
  margin: -25px auto 0;
}

/* .slider-counter {
  position: absolute;
  width: 150px;
  padding: 10px;
  background-color: #000;
  border: 2px solid #FFF;
  left: 0;
  right: 0;
  margin: -15px auto 0;
}

.slider-counter-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  border: 2px solid #333;
}

.slider-counter-line {
  position: absolute;
  width: 2px;
  height: 30px;
  background-color: yellow;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.slider-counter span {
  font-size: 40px;
} */

/*===============/PRICES/===============*/
/*===============FAQ===============*/

.faq {
  box-sizing: border-box;
  padding: 100px 0;
}

.question-block {
  font-size: 20px;
  border: 2px solid #333;
  box-sizing: border-box;
  padding: 20px;
  margin: 0 0 20px;
}

.question-block:last-child {
  margin: 0;
}

.question {
  display: flex;
  align-items: center;
  font-weight: 700;
}

.question-button {
  width: 30px;
  height: auto;
  cursor: pointer;
  margin: 0 20px 0 0;
  transition: transform 400ms ,width 400ms;
}

.active-question-button {
  transform: rotate(45deg);
}

.answer {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0 50px 0;
  transition: opacity 600ms, max-height 800ms;
}

.answer p {
  line-height: 28px;
  font-weight: 300;
  padding: 20px 0 10px;
}

.active-answer {
  max-height: 1000px;
  opacity: 1;
}

/*===============/FAQ/===============*/
/*===============CONTACT===============*/

.contact {
  background:
  linear-gradient(#000 5%, transparent 60%),
  linear-gradient(0deg, #000 5%, transparent 60%),
    url('../img/backgrounds/background.jpg') no-repeat 0 / cover ;
  box-sizing: border-box;
  padding: 100px 0;
}

.contact-form-section {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px;
}

.contact-form-section:last-child {
  margin: 0;
}

.contact-form-parameter {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.contact-form-parameter label {
  font-weight: 700;
  margin: 20px 0;
}

.contact-form-parameter input,
.contact-form-parameter select {
  height: 50px;
  border: 2px solid #333;
  background-color: transparent;
  font-size: 20px;
  color: #FFF;
  box-sizing: border-box;
  padding: 0 0 0 10px;
  outline: none;
}

.contact-form-parameter select {
  width: 100%;
}

.contact-form-select {
  height: 50px;
  border: 2px solid #333;
}

.contact-form-submit-button {
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  box-sizing: border-box;
  padding: 0 60px;
  margin: 20px 0 0;
  transition: transform 400ms;
}

.contact-form-submit-button:hover {
  transform: scale(1.05);
}

/*===============/CONTACT/===============*/
/*===============FOOTER===============*/

.footer {
  box-sizing: border-box;
  padding: 50px 0;
}

/*===============/FOOTER/===============*/
