* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 1px;
}

body {
  font-family: 'Futura PT', sans-serif;
  color: #282D33;
}

img {
  display: block;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input, button {
  font-family: inherit;
  background-color: inherit;
  border: none;
}

.main {
  padding: 0 0 105px;
}

/* Banner */

.banner .slider-nav {
  margin: 15px 0 0 auto;
}

.banner-slider img {
  width: 100%;
  height: auto;
}

.banner-slider-prev,
.banner-slider-next {
  outline: none;
}

/* Banner */

.collections {
  padding: 150px 0 0;
}

.collections .container {
  display: grid;
  grid-template-columns: repeat(2, 44.5%);
  justify-content: space-between;
}

.collection img {
  width: 100%;
  height: auto;
}

.collection-title {
  font-weight: 300;
  font-size: 30px;
  line-height: 38px;
}

.collection-link {
  display: block;
  margin: 10px 0 0;
}

/* our-products */

.our-products {
  padding: 135px 0 0;
}

.products-collections {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 430px;
  grid-auto-rows: 200px;
  grid-gap: 45px;
}

.collection-block {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid #282D33;
  cursor: pointer;
  padding: 10px 20px;
}

.collection-block.male {
  background-image: url('../img/content/male-collection-block.png');
  border: none;
  grid-row: span 2;
  padding: 10px;
}

.collection-block.woman {
  background-image: url('../img/content/woman-collection-block.png');
  border: none;
  grid-row: span 2;
  padding: 10px;
}

.collection-block.shoes {
  background-image: url('../img/content/collection-block-shoes.png');
}

.collection-block.bag {
  background-image: url('../img/content/collection-block-bag.png');
}

.collection-block.male .collection-block-name,
.collection-block.woman .collection-block-name {
  color: #fff;
}

.collection-block-name {
  font-size: 30rem;
  line-height: 38rem;
  white-space: pre-line;
  margin-top: auto;
}

.new-products {
  padding: 135px 0 0;
}

.sale {
  padding: 135px 0 0;
}

.brands {
  padding: 120px 0 0;
}

.brands-slider {
  margin: 100px 0 0;
}

.brands .slider-nav {
  margin: 25px 0 0 auto;
}

.brands-slider img {
  width: 100%;
  height: auto;
}

/* ===== /Footer/ ===== */

.footer {
  background-color: #282d33;
  padding: 50px 0;
}

.footer-nav {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 260px));
  grid-row-gap: 20px;
  justify-content: space-between;
}

.footer h4 {
  font-size: 25rem;
  line-height: 32rem;
  font-weight: 600;
  color: #fff;
}

.footer-nav .nav-ul {
  display: flex;
  flex-direction: column;
  margin: 10px 0 0;
}

.footer-nav .nav-link {
  font-size: 20rem;
  font-weight: 300;
  color: #FFFFFF;
  margin: 0 0 2px;
}

.newsletter {
  grid-row: span 2;
}

.newsletter-form {
  margin: 10px 0 0;
}

.newsletter-form input {
  width: 100%;
  font-weight: 300;
  font-size: 20rem;
  color: #fff;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
}

.newsletter-form input::placeholder {
  color: #fff;
}

.newsletter-form button {
  width: 100%;
  max-width: 260px;
  height: 75px;
  border: none;
  background-color: #C0B19A;
  font-weight: 450;
  font-size: 20rem;
  line-height: 26rem;
  text-align: center;
  margin: 20px 0 0;
}

.reviews {
  grid-column-start: 2;
}

.socials {
  width: fit-content;
  margin: 70px auto 0;
}

.social-types {
  display: flex;
  justify-content: center;
  margin: 20px 0 0;
}

.social-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 25px;
}

.social-type span {
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;
  color: #fff;
  margin: 10px 0 0;
}

.dark-background {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #000;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 600ms, z-index 600ms;
}

.dark-background.active {
  opacity: 0.5;
  z-index: 99;
}

@media screen and (max-width: 1360px) {
  .header .container {
    width: 1140px;
  }
}

@media screen and (max-width: 1200px) {
  .option-circle {
    margin: 0 20px 0 0;
  }

  .header .container {
    width: 95%;
  }

  .collections {
    padding: 100px 0 0;
  }

  .new-products,
  .our-products,
  .sale,
  .brands  {
    padding: 85px 0 0;
  }

  .brands-slider {
    margin: 55px 0 0;
  }
}

@media screen and (max-width: 1024px) {
  .banner .container {
    width: 100%;
  }

  .banner .slider-nav {
    margin: 20px auto 0;
  }

  .collections {
    padding: 50px 0 0;
  }

  .products-collections {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }

  .collection-block {
    padding: 5px 20px;
  }

  .collection-block.woman {
    grid-column: span 1;
    grid-row: span 1;
  }

  .collection-block.bag {
    grid-row: span 2;
  }

  .footer-nav {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 40px;
  }

  .reviews {
    grid-column-start: auto;
  }

  .newsletter {
    grid-row: auto;
    grid-column: span 2;
    order: 6;
  }

  .dark-background {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  html {
    font-size: 0.13vw
  }

  .collection-title {
    font-size: 30rem;
    line-height: 38rem;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 0.78px;
  }

  .main {
    padding-top: 86px;
  }

  .collections .container {
    grid-template-columns: repeat(2, minmax(0, 250px));
    grid-gap: 20px;
  }

  .new-products,
  .our-products,
  .sale,
  .brands {
    padding: 35px 0 0;
  }

  .collection-block.woman {
    grid-row: span 2;
  }

  .collection-block.bag,
  .collection-block.shoes {
    grid-column: span 2;
    grid-row: span 1;
  }

  .newsletter-form button {
    height: 55px;
    margin: 10px auto 0;
  }

  .social-type {
    margin: 0 15px;
  }
}

@media screen and (max-width: 480px) {
  .collections .container {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .products-collections {
    grid-auto-rows: 160px;
  }

  .footer-nav {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
  }
}

@media screen and (max-width: 320px) {
  .footer-nav {
    grid-template-columns: 1fr;
  }

  .newsletter {
    grid-column: span 1;
  }
}
