body {
  padding: 0;
  margin: 0;
}

/*---------------COMMON ELEMENTS---------------*/

.container {
  width: 1170px;
  margin: 0 auto;
}

/*---------------/COMMON ELEMENTS/---------------*/
/*---------------HEADER---------------*/

.header-login-part {
  background-color: #000
}

.login-container {
  display: flex;
  align-items: center;
  min-height: 40px;
}

.header-socials {
  display: flex;
  align-items: center;
}

.social-icon {
  margin: 0 23px 0 0;
}


/*---------------/HEADER/---------------*/
/*---------------BEST PRICES---------------*/

/*---------------/BEST PRICES/---------------*/
/*---------------POPULAR PRODUCTS---------------*/

/*---------------/POPULAR PRODUCTS/---------------*/
/*---------------SPECIAL OFFERS---------------*/

/*---------------/SPECIAL OFFERS/---------------*/
/*---------------BEST SALES---------------*/

/*---------------/BEST SALES/---------------*/
/*---------------TOP PRODUCTS---------------*/

/*---------------/TOP PRODUCTS/---------------*/
/*---------------SPONSORS---------------*/

/*---------------/SPONSORS/---------------*/
/*---------------FOOTER---------------*/

/*---------------/FOOTER/---------------*/
