.custom-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  border: 1px solid #C0B19A;
}

.custom-checkbox input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox-dot {
  display: none;
  width: 9px;
  height: 9px;
  background-color: #282D33;
}

.custom-checkbox input:checked + .custom-checkbox-dot {
  display: block;
}
