.product-card {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  line-height: 19px;
  font-weight: 450;
  color: #000;
}

.product-card img {
  width: 100%;
  height: auto;
}

.product-card-name {
  text-transform: uppercase;
  margin: 5px 0 0;
}

.product-card-category {
  font-weight: 300;
}

.product-card-price {
  position: relative;
  width: fit-content;
}

.product-card-price.sale::after {
  content: '235 500 ₽';
  width: 46px;
  position: absolute;
  display: block;
  font-size: 10rem;
  line-height: 13rem;
  text-decoration-line: line-through;
  color: #C0B19A;
  left: 110%;
  top: 0;
}
