html {
  font-size: 1px;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Futura PT', sans-serif;
  color: #282D33;
  font-size: 16rem;
}

img {
  display: block;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input, button, textarea {
  outline: none;
}

input, button {
  font-family: inherit;
  background-color: inherit;
  border: none;
}

textarea {
  display: block;
}

h4 {
  font-size: 30rem;
  line-height: 38rem;
}

h6 {
  font-size: 20rem;
  line-height: 26rem;
}

@media screen and (max-width: 767px) {
  html {
    font-size: 0.13vw
  }

  main {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 0.78px;
  }

  main {
    padding-top: 86px;
  }
}
